    @import 'utilities.css';
     :root {
        --primary: #3DCFD3;
        --dark: #161616;
        --pure: #FFFFFF;
        --ternary: #898989;
        --light: #F2F2F2;
        --secondary: #070606;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        -webkit-font-smothing: antialiased;
    }
    
    header {
        background-color: var(--dark);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 95%);
    }
    
    .container {
        padding: 0 15px;
        margin: 0 auto;
    }
    
    @media(min-width:360px) {
        .container {
            max-width: 360px;
        }
    }
    
    @media(min-width:576px) {
        .container {
            max-width: 576px;
        }
    }
    
    @media(min-width:768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media(min-width:992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media(min-width:1024px) {
        .container {
            max-width: 990px;
        }
        .hamberger {
            display: none;
        }
    }
    
    @media(min-width:1200px) {
        .container {
            max-width: 1152px;
        }
        .hamberger {
            display: none;
        }
    }
    
    header nav .left a {
        color: var(--pure);
        text-decoration: none;
        margin-right: 2rem;
        text-transform: uppercase;
        transition: all .3s ease;
    }
    
    header nav .left a:hover {
        color: var(--primary);
    }
    
    header nav {
        padding: 2rem 0;
    }
    
    header nav .brand {
        margin-right: 3rem;
    }
    
    header nav .brand img {
        height: 5rem;
    }
    
    .hero {
        padding: 3rem 0;
    }
    
    .hero .left img {
        width: 430px;
        height: 610px;
    }
    
    .hero .right {
        color: var(--pure);
    }
    
    .hero .right h6 {
        font-size: 1.6rem;
        color: var(--primary);
        margin-bottom: 0.5rem;
    }
    
    .hero .right h1 {
        font-size: 4rem;
        font-weight: 100;
        line-height: 1.2;
    }
    
    .hero .right h1 span {
        color: var(--primary);
    }
    
    .hero .right p {
        line-height: 1.9;
        margin-bottom: 2rem;
    }
    
    .hero .right p span {
        color: var(--primary);
    }
    
    .hero .right {
        margin-top: -7rem;
    }
    
    section {
        padding: 4rem 0;
    }
    
    .section-heading {
        color: var(--secondary);
        text-align: center;
        margin-bottom: 1rem;
        line-height: 0.5;
        margin-bottom: 3rem;
    }
    
    .section-heading span {
        color: var(--primary);
    }
    
    .section-heading+p {
        color: var(--ternary);
        font-family: 'Lato', sans-serif;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    section.services {
        background: var(--light);
        clip-path: polygon(0 0, 30% 13%, 100% 5%, 100% 100%, 70% 87%, 0 95%);
        padding: 8rem 0;
    }
    
    section.services .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        margin-top: 8rem;
    }
    
    section.services .card-wrapper .card {
        background: var(--pure);
        padding: 3rem 2rem;
        position: relative;
        padding-top: 6rem;
        text-align: center;
        transition: all .3s ease;
    }
    
    section.services .card-wrapper .card img {
        position: absolute;
        height: 140px;
        top: -3.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    section.services .card-wrapper .card h2 {
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    section.services .card-wrapper .card p {
        font-family: 'Lato', sans-serif;
        color: var(--ternary);
        line-height: 1.6;
    }
    
    section.services .card-wrapper .card:hover {
        background: var(--dark);
    }
    
    section.services .card-wrapper .card:hover h2,
    section.services .card-wrapper .card:hover p {
        color: var(--pure);
    }
    
    section.reviews .slider .slide {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 8rem;
    }
    
    section.reviews .slider .slide p {
        font-family: 'Lato', sans-serif;
        color: var(--ternary);
        margin-top: 2rem;
    }
    
    section.reviews .slider-dots .dots {
        list-style-type: none;
        display: flex!important;
        justify-content: center;
    }
    
    section.reviews .slider-dots {
        margin-top: 3rem;
    }
    
    section.reviews .slider-dots button {
        font-size: 0;
        width: 8px;
        height: 5px;
        margin-right: 0.3rem;
        border: none;
        outline: none;
        background: var(--ternary);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        cursor: pointer;
    }
    
    section.reviews .dots li.slick-active button {
        background: var(--primary);
        width: 20px;
    }
    
    section.projects .projectslider .slide {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 8rem;
    }
    
    section.projects .projectslider .slide .project-flex {
        display: flex;
    }
    
    section.projects .projectslider .slide .project-flex .social a {
        background: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        --webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 0.6rem;
        transition: all 0.3s ease;
    }
    
    section.projects .projectslider .slide .project-flex .social a:hover {
        background: var(--primary);
    }
    
    section.projects .projectslider .slide .project-flex .social a img {
        height: 100%;
        width: 100%;
        padding: 0.5rem;
    }
    
    section.projects .projectslider .slide p {
        font-family: 'Lato', sans-serif;
        color: var(--ternary);
        margin-top: 2rem;
    }
    
    section.projects .projectslider .slide p span {
        color: var(--dark);
    }
    
    section.projects .projectslider-dots .dots {
        list-style: none;
        display: flex!important;
        justify-content: center;
    }
    
    section.projects .projectslider-dots {
        margin-top: 2rem;
    }
    
    section.projects .projectslider-dots button {
        font-size: 0;
        width: 8px;
        height: 5px;
        margin-right: 0.3rem;
        border: none;
        outline: none;
        background: var(--ternary);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        cursor: pointer;
    }
    
    section.projects .dots li.slick-active button {
        background: var(--primary);
        width: 20px;
    }
    
    section.skills {
        background: var(--dark);
        clip-path: polygon(0 0, 70% 13%, 100% 0, 100% 100%, 30% 87%, 0 100%);
    }
    
    section.skills h1 {
        margin-top: 3rem;
        font-size: 1.6rem;
        color: var(--pure);
        margin-bottom: 3rem;
        line-height: 1;
    }
    
    section.skills h1 span {
        color: var(--primary);
    }
    
    section.skills p {
        color: var(--light);
        font-size: 1rem;
    }
    
    section.skills p span {
        color: var(--primary);
    }
    
    section.about .about-me-img {
        height: 450px;
    }
    
    section.about h1 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    section.about h1 span {
        color: var(--primary);
    }
    
    section.about h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: 400;
    }
    
    section.about p {
        font-family: 'Lato', sans-serif;
        color: var(--ternary);
        line-height: 1.9;
        margin-bottom: 0rem;
    }
    
    section.about .social {
        display: flex;
    }
    
    section.about .social a {
        background: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        --webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-right: 0.6rem;
        transition: all 0.3s ease;
    }
    
    section.about .social a:hover {
        background: var(--primary);
    }
    
    section.about .social a img {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
    }
    
    section.contact {
        background: var(--light);
    }
    
    section.contact .new {
        color: (var(--dark));
    }
    
    section.contact .card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
    }
    
    section.contact .card-wrapper .card {
        text-align: center;
    }
    
    section.contact .card-wrapper .card img {
        height: 80px;
        align-items: center;
        margin-bottom: 3rem;
    }
    
    section.contact .card-wrapper .card h1 {
        font-weight: 400;
        margin-bottom: 1rem;
    }
    
    section.contact .card-wrapper .card h6 {
        font-size: 1rem;
        color: var(--dark);
        font-weight: 400;
        margin-bottom: 4rem;
    }
    
    section.contact .input-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-bottom: 2rem;
    }
    
    section.contact .input-wrap-2 {
        display: flex;
        flex-direction: column;
    }
    
    section.contact .input-wrap-2 input {
        margin-bottom: 2rem;
    }
    
    section.contact input {
        padding: 0.5rem;
        border: 1px solid var(--light);
        font-size: 1rem;
    }
    
    section.contact .input-wrap-2 textarea {
        padding: 0.5rem;
        border: 1px solid var(--light);
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    
    section.contact .input-wrap-2 textarea:focus,
    section.contact input:focus {
        outline: none;
    }
    
    section.contact .btn-wrapper {
        text-align: center;
        margin-top: 2rem;
    }
    
    footer {
        background: var(--dark);
        text-align: center;
        padding: 5rem 0;
    }
    
    footer .footer-logo {
        width: 150px;
        margin-bottom: 2rem;
    }
    
    footer .footer-socials img {
        height: 1.5rem;
        padding-left: 1rem;
    }
    
    footer .copyright {
        padding-top: 1rem;
        color: var(--ternary);
    }
    
    .site-main-wrapper {
        position: relative;
    }
    
    .hamberger {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 11;
        background: none;
        border: none;
        height: 75px;
        outline: none;
        cursor: pointer;
    }
    
    .hamberger img {
        width: 40px;
    }
    
    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1001;
        padding: 2rem;
        background: var(--dark);
        width: 100%;
        opacity: 0.9;
        padding-top: 5rem;
        transform: translateY(-100%);
        transition: all .5s ease-in-out;
    }
    
    .open {
        transform: translateY(0);
    }
    
    .times {
        position: absolute;
        top: 40px;
        left: 40px;
        background: none;
        border: none;
        height: 75px;
        background: none;
        outline: none;
        cursor: pointer;
    }
    
    .times img {
        width: 40px;
    }
    
    .mobile-nav ul {
        list-style-type: none;
        opacity: 0.9;
        background: var(--dark);
    }
    
    .mobile-nav ul a {
        color: var(--pure);
        text-decoration: none;
        font-size: 1rem;
    }
    
    @media(max-width:1024px) {
        header #main-nav #link,
        header #main-nav #nav-btn {
            display: none;
        }
        header nav .brand img {
            padding-left: 5rem;
        }
        .hero .left img {
            width: 327px;
            height: 475px;
        }
        .hero .right h1 {
            font-size: 3rem;
        }
        .hero {
            padding-left: 2rem;
            padding-right: 2rem;
        }
        section.about .about-me-img {
            height: 360px;
        }
    }
    
    @media(max-width:576px) {
        .hero {
            flex-direction: column;
            padding-right: 4rem;
        }
        header {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 76% 96%, 0 100%);
        }
        .hero .right {
            position: absolute;
            top: 260px;
            padding: 0 1rem;
            background: linear-gradient(rbga(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
        }
        .hero .left {
            margin-top: -5rem;
            margin-right: -9rem;
        }
        .about-inner-wrap {
            flex-direction: column;
        }
        .about .right {
            text-align: center;
            margin-top: 2rem;
        }
        .about .right .social {
            justify-content: center;
        }
        section {
            padding: 3rem;
        }
        section.services {
            clip-path: polygon(0 0, 30% 4%, 100% 0, 100% 100%, 70% 96%, 0 100%);
        }
        section.skills {
            clip-path: polygon(0 0, 70% 5%, 100% 0, 100% 100%, 30% 95%, 0 100%);
        }
        section.services .card-wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 5rem;
        }
        section.reviews .slider .slide {
            padding: 0 0;
        }
        section.projects .projectslider .slide {
            padding: 0 0;
        }
        section.reviews h1 {
            line-height: 2rem;
        }
        section.projects h1 {
            line-height: 2rem;
        }
        section.contact .card-wrapper {
            grid-template-columns: 1fr;
        }
        section.contact .input-wrap {
            grid-template-columns: 1fr;
        }
        header nav .brand img {
            height: 4rem;
            padding-top: 1rem;
        }
    }
    
    @media(max-width:380px) {
        header {
            clip-path: polygon(0 0, 100% 0, 100% 90%, 24% 83%, 0 95%)
        }
        .hero .left img {
            width: 230px;
            height: 329px;
            transform: scaleX(-1);
        }
        .hero .right h1 {
            font-size: 2rem;
        }
        .hero .right p {
            line-height: 1.3;
            font-size: .8rem;
            color: #d0d2d6;
        }
        .btn {
            padding: 0.4rem 0.7rem;
        }
        section.about p {
            line-height: 1.2;
        }
        section.services {
            clip-path: polygon(0 0, 30% 3%, 100% 0, 100% 100%, 70% 97%, 0 100%);
        }
        section.services .card-wrapper {
            margin-top: 5rem;
        }
        section.services .card-wrapper .card p {
            line-height: 1.2;
        }
        section.contact .card-wrapper {
            grid-gap: 0rem;
        }
        section.contact .card-wrapper .card img {
            margin-bottom: 0rem;
        }
        .container {
            padding: 0 0;
        }
        section.contact .card-wrapper .card h6 {
            margin-bottom: 1rem
        }
        section.contact .input-wrap {
            margin-top: 2rem;
        }
        .section-heading {
            margin-bottom: 1.5rem;
        }
        section.contact .btn-wrapper {
            margin-top: 0rem;
        }
        .hamberger img {
            width: 30px;
        }
        .times img {
            width: 30px;
        }
        section.skills h1 {
            line-height: 2rem;
        }
        .section.skills {
            clip-path: polygon(0 0, 70% 5%, 100% 0, 100% 100%, 30% 95%, 0 100%);
        }
    }